RaspberryPi/course1/Node.RED/BlinkingLED.json
[{"id":"e6d07b01.68f738","type":"tab","label":"Blinking LED","disabled":false,"info":""},{"id":"d02fe73c.ae4818","type":"inject","z":"e6d07b01.68f738","name":"START","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":180,"wires":[["4696f282.c908fc"]]},{"id":"473eaa05.dfba14","type":"rpi-gpio out","z":"e6d07b01.68f738","name":"RED","pin":"11","set":"","level":"0","freq":"","out":"out","x":590,"y":180,"wires":[]},{"id":"4696f282.c908fc","type":"trigger","z":"e6d07b01.68f738","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":380,"y":180,"wires":[["d0cdb325.db097","473eaa05.dfba14"]]},{"id":"d0cdb325.db097","type":"trigger","z":"e6d07b01.68f738","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"4","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":360,"y":280,"wires":[["4696f282.c908fc"]]}]