RaspberryPi/course1/Node.RED/OnReset.json
[{"id":"ff71710e.2bb04","type":"tab","label":"ON with RESET","disabled":false,"info":""},{"id":"1bba0069.7cf2f","type":"inject","z":"ff71710e.2bb04","name":"ON","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":180,"wires":[["cba21565.f66708"]]},{"id":"cba21565.f66708","type":"trigger","z":"ff71710e.2bb04","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"Reset","x":370,"y":200,"wires":[["6f89af79.18d94"]]},{"id":"6f89af79.18d94","type":"rpi-gpio out","z":"ff71710e.2bb04","name":"RED","pin":"11","set":"","level":"0","freq":"","out":"out","x":560,"y":200,"wires":[]}]