RaspberryPi/course1/Node.RED/SimpleOn-Off.json
[{"id":"c7420b79.14bb78","type":"tab","label":"Simple On-Off","disabled":false,"info":""},{"id":"4b135194.34787","type":"inject","z":"c7420b79.14bb78","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":220,"wires":[["81afc370.a6ab6"]]},{"id":"7137b1b0.50b2d","type":"inject","z":"c7420b79.14bb78","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["81afc370.a6ab6"]]},{"id":"81afc370.a6ab6","type":"rpi-gpio out","z":"c7420b79.14bb78","name":"red","pin":"11","set":true,"level":"0","freq":"","out":"out","x":390,"y":180,"wires":[]}]