RaspberryPi/course1/Node.RED/StopLightFixedDelay.json
[{"id":"b0041962.284688","type":"tab","label":"Stop Light - Fixed Delay","disabled":false,"info":""},{"id":"ebc7cbd6.ffeef8","type":"rpi-gpio out","z":"b0041962.284688","name":"RED","pin":"11","set":true,"level":"1","freq":"","out":"out","x":790,"y":200,"wires":[]},{"id":"3adc6cde.d17954","type":"rpi-gpio out","z":"b0041962.284688","name":"YELLOW","pin":"13","set":true,"level":"0","freq":"","out":"out","x":800,"y":320,"wires":[]},{"id":"6efd5180.5e409","type":"rpi-gpio out","z":"b0041962.284688","name":"GREEN","pin":"15","set":true,"level":"0","freq":"","out":"out","x":800,"y":440,"wires":[]},{"id":"8c4ffeeb.3210c","type":"delay","z":"b0041962.284688","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":220,"wires":[["96ad25af.cd8578"]]},{"id":"917e343d.e29b58","type":"inject","z":"b0041962.284688","name":"start","topic":"","payload":"red","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":320,"wires":[["96ad25af.cd8578"]]},{"id":"1a810db4.9b4732","type":"debug","z":"b0041962.284688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":840,"wires":[]},{"id":"96ad25af.cd8578","type":"function","z":"b0041962.284688","name":"Sequence","func":"var msgList =  [[\"red\", 1, 0, 0],\n                [\"yellow\", 0, 1, 0],\n                [\"green\",0, 0, 1]];\n\n//var ledList = [\"red\", \"yellow\", \"green\"]\n\nvar currLed = msg.payload;\n\nvar nextLed = \"\";\nvar nextIdx = 0;\n\nif (currLed === \"red\")\n    {\n        nextLed = \"yellow\"\n        nextIdx = 1\n    }\nelse if (currLed === \"yellow\")\n    {\n        nextLed = \"green\"\n        nextIdx = 2\n    }\nelse if (currLed === \"green\")\n    {\n        nextLed = \"red\"\n        nextIdx = 0\n    }\nelse {\n        nextLed = \"yellow\"\n        nextIdx = 2\n    }\n\n//if (nextLed === \"red\")\n//  {msg.payload = msgList[1]}\n//else if (nextLed === \"yellow\")\n//    {msg.payload = msgList[2]}\n//else if (nextLed === \"green\")\n//    {msg.payload = msgList[3]}\n//else {msg.payload = msgList[1]}\n\n\n//var newMsg1 = {payload:msgList[nextIdx][0]};\nvar newMsg1 = {payload:nextLed};\nvar newMsg2 = {payload:msgList[nextIdx][1]};\nvar newMsg3 = {payload:msgList[nextIdx][2]};\nvar newMsg4 = {payload:msgList[nextIdx][3]};\n\nreturn [newMsg1,newMsg2,newMsg3,newMsg4];","outputs":4,"noerr":0,"x":540,"y":320,"wires":[["8c4ffeeb.3210c"],["ebc7cbd6.ffeef8"],["3adc6cde.d17954"],["6efd5180.5e409"]]},{"id":"fd6a6a6b.c77678","type":"change","z":"b0041962.284688","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["8c4ffeeb.3210c"]]},{"id":"92e08ae6.a1b3b8","type":"inject","z":"b0041962.284688","name":"stop","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["fd6a6a6b.c77678"]]}]